.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutContainer{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.aboutImg{
    width: 30%;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        img{
            box-shadow: -10px 10px 0 $highlight; 
        }
}
.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 50px 25px;
        &__heading{
            text-transform: uppercase;
            font-size: 1.6rem;
            letter-spacing: 2px;
            // border-bottom: 1px solid $highlight;
        }
        p{
            font-size: 1.1rem;
            letter-spacing: 2px;
            color: $textGrey;
        }
}
.aboutMobileHeading{
    display: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
}