.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutContainer{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.aboutImg{
    width: 30%;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
        img{
            box-shadow: -10px 10px 0 $highlight; 
        }
}
.aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 50px 25px;
        &__heading{
            text-transform: uppercase;
            font-size: 1.6rem;
            letter-spacing: 2px;
            // border-bottom: 1px solid $highlight;
        }
        p{
            font-size: 1.1rem;
            letter-spacing: 2px;
            color: $textGrey;
        }
        a{
            width: 115px;
            text-align: center;
            border: 1px solid black;
            border-radius: 2px;
            color: black;
            padding: 5px 10px;
            margin: 10px 10px 5px 0;
            font-size: 0.8rem;
            letter-spacing: 2px;
            font-family: $headingFont;
            text-transform: uppercase;
            transition: color 0.2s, border 0.2s, background-color 0.2s;
                &:hover{
                    background-color:$highlight;
                    color: white;
                    border:1px solid $highlight; 
                }
                &:active{
                    color:$highlight;
                }
        }
        
}
.aboutMobileHeading{
    display: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
}