.contact{
    font-family: $headingFont;
    color: $textGrey;
    padding-bottom: 10px;
        &__heading{
            color: black;
            letter-spacing: 2px;
            font-size: 1.6rem;
            text-transform: uppercase;
            padding: 0px 25px 25px 25px;
            text-align: center;
        }
}
.contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactInfo{
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p{
            font-size: 0.8rem;
        }
    &__detail{
        a:link,
        a:visited{
            color: $textGrey;
        }
        a:hover{
            color: $highlight;
        }
        h4{
            font-size: 1rem;
            font-weight: 400;
        }
        span{
            padding: 0 5px;
        }
    }
    
    }

.contactForm{
    width: 50%;
    margin: 20px auto;;
        form{
            display: flex;
            flex-direction: column;
        }
        .btn{
            margin: 10px auto;
            width: 80px;
        }
        input,
        textarea{
        background: transparent;
        border: 1px solid #6e6e6e;
        line-height: 2;
        font-family: $headingFont;
        font-size: 0.8rem;
        margin: 5px 0;
        }
}