footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    // background-color: $darkBg;
    background: url('../images/pecSky.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        .footerOverlay{
            background: $overlayDark;
    
        }
        .afterContainer{
            margin: 0 auto;
            position: relative;
            width: 200px;
        }
        h3{
            text-transform: uppercase;
            margin-top: 50px;
            font-weight: 400;
            font-size: 0.6rem;
            color: white;
            letter-spacing: 3px;
                &::after{
                content: "";
                height: 70px;
                width: 1px;
                background:$highlight;
                position: absolute;
                bottom: 28px;
                left: 99px;
            }
        }
        .footerLinks{
            margin: 20px;
            letter-spacing: 10px;
                a:visited{
                    color: $lightBg;
                }
                a:active{
                    color: $lightBg;
                }
            i{
                font-size: 1.8rem;
                color: $lightBg;
                transition: color 0.2s;
                    &:hover{
                        color: $highlight;
                    }
            }
        }
        .copyright{
            font-size: 0.6rem;
            color: $lightBg;
            font-family: $headingFont;
            padding-bottom: 30px;
        }
    }
