img{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
input,
textarea{
    background: transparent;
    border: 1px solid $textGrey
}

body{
    font-size: 62.5%;
    font-family: $bodyFont; 
}

h1,
h2,
h3,
h4{
    font-family: $headingFont;
    margin: 0;
    padding: 0;
}    
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}
.btn{
    background-color: transparent;
    border: 1px solid $highlight;
    color: $highlight;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: $headingFont;
    padding: 5px 20px;
    font-size: 0.6rem;
        &:hover{
            background-color: $highlight;
            border:1px solid $highlight;
            color: white;
        }
}