header{
    height: 100vh;
    background-image: url('../images/pecSky.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        .afterContainer{
            position: relative;
            bottom: 100px;
            width: 200px;
            text-align: center;
            margin: 0 auto;
                h3{
                    padding-top: 30px;
                    text-align: center; 
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    font-weight: 400;
                    color: white;
                    letter-spacing: 5px;
                        &:after{
                        content: "";
                        height: 80px;
                        width: 1px;
                        background:$highlight;
                        position: absolute;
                        bottom: -95px;
                        right: 100px;
                        }
                }
        }
}

.heroOverlay{
    height: 100%;
    background-color: $overlayDark;
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
        label{
            color: $lightBg;
            font-size: 1.2rem;
            position: absolute;
            top: 20px;
            left: 20px;
        }
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
        h1{
            font-size: 3rem;
            letter-spacing: 10px;
            color: white;
            text-transform: uppercase;
            position: relative;
            text-align: center;
            padding: 20px 0;
        }
        .titleLine{
                &::after{
                        content: "";
                        height: 2px;
                        width: 120%;
                        background: $highlight;
                        position: absolute;
                        bottom: 9px;
                        left: -11%;
                }    
        }
        
        h4{
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 10px;
            text-align: center;
            color: white;
            padding: 10px 0;
        }

}
