.skills{
    background: $highlightRed;
        // &__heading{
        //     text-align: center;
        //     text-transform: uppercase;
        //     color: $lightBg;
        //     font-size: 1.2rem;
        //     letter-spacing: 5px;
        //     padding: 20px;
        // }
}  
.skillsIcons{
    background: $overlayLighter;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $lightBg;
    font-size: 2.5rem;
    padding: 20px;
    margin: 0 auto;
        
} 