.skills{
    // background: url('../images/pecSky.jpg');
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: $highlight;
        &__heading{
            text-align: center;
            text-transform: uppercase;
            color: $lightBg;
            font-size: 1.2rem;
            font-weight: 400;
            letter-spacing: 5px;
            padding: 20px;
        }
}  
.skillsIcons{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3rem;
    padding: 40px 20px;
    margin: 0 auto;
        
} 
.skillsOverlay{
    background: $overlayLighter;
}