.work{
    background: $lightBg;
    color: $darkBg;
    display: flex;
    flex-direction: column;
    justify-content: center;
        &__heading{
            text-align: center;
            text-transform: uppercase;
            color: black;
            font-size: 1.6rem;
            letter-spacing: 5px;
            padding: 50px;
        }
        // a{
        //     border: 1px solid white;
        //     color: white;
        //     padding: 5px 10px;
        //     font-size: 0.8rem;
        //     letter-spacing: 2px;
        //     font-family: $headingFont;
        //     text-transform: uppercase;
        //         &:hover{
        //             background-color: $highlightRed;
        //             border: $highlightRed; 
        //         }
        //         &:visited{
        //             color: white;
        //         }
        //         &:active{
        //             color:white;
        //         }
        // }
}
// .workOverlay{
//     height: 100%;   
//     background: $overlayLighter;
//     // border: 1px solid grey;
    
// }


.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
        &__block{
            display: flex;
            padding: 50px 0;
                &--overlay{
                    display: flex;
                    flex-wrap: wrap;
                    background: $overlayLighter;
                    height: 100%;
                    padding: 10px;  
                }
                &--img{
                    width: 30%;
                }
                &--content{
                    width: 70%;
                }
                &--title{
                    display: flex;
                    width: 100%;
                }
                &--heading{
                    width: 80%;
                }
                svg{
                    width: 20%;
                    fill: $highlightRed;
                    stroke: $highlightRed;
                }
                
        }
        h3{
            font-size: 1rem;
            letter-spacing: 3px;
            font-weight: 400;

        }
        h4{
            color: $highlightRed;
            font-weight: 400;
            letter-spacing: 2px;
        }
        p{
            font-size: 0.8rem;
            line-height: 1.8;
            letter-spacing: 2px;

        }
}

// SPECIFIC LAYOUTS
// top layout
.bookImg{
    width: 50%;
}

.actorImg{
    width: 80%;
}

// bottom layout



// bottom left layout
.ballImg{
    display: flex;
    justify-content: space-around;
    background: $overlayLighter;
}
.bb{
    width: 40%;
}

// bottom right layout
.psdImg{
    width: 70%;
}
.psdLink{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.psdContent{
    width: 100%;
    padding: 20px;
}
.wineImg{
    width: 30%;
}